.carousel-container {
  width: 100%;
  height: 100dvh;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to top, #2e2e2e, #1c1c1c, #0a0a0a);
}

.carousel-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 400px;
  padding-top: 100px;
}

.carousel-title {
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin: 0;
  z-index: 2;

  background: linear-gradient(to right, red, #ff6f3c, #f5cb5c);
  background-clip: text;
  color: transparent;
}

.carousel-button-container {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  gap: 30px;
  width: auto;
}

.carousel-button {
  padding: 10px 20px;
  background-color: var(--carousel-title);
  color: var(--carousel-button);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform-origin: center;
  z-index: 2;
}

.carousel-button:hover {
  transform: scale(1.1);
  background-color: var(--carousel-button-hover);
}

.carousel-slider {
  position: absolute;
  width: 200px;
  height: 300px;
  top: 30%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: sliderRotation var(--animationTime) infinite linear;
  z-index: 1;
}

.carousel-item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--item-position) - 1) * (360 / var(--item-total)) * 1deg)
    )
    translateZ(550px);
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

@keyframes sliderRotation {
  from {
    transform: perspective(var(--perspectiveZ)) rotateX(var(--perspectiveX))
      rotateY(0deg);
  }
  to {
    transform: perspective(var(--perspectiveZ)) rotateX(var(--perspectiveX))
      rotateY(360deg);
  }
}

@media screen and (max-width: 768px) {
  .carousel-title-container {
    flex-direction: column;
    gap: 20px;
  }

  .carousel-title {
    font-size: 36px;
  }

  .carousel-button {
    font-size: 12px;
  }

  .carousel-slider {
    top: 40%;
  }
}
