@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

.home-container {
  background-color: var(--home-background);
  height: 93.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.home-description-border {
  width: 400px;
  height: 300px;
  border-radius: 40px;
  position: relative;
  background-image: conic-gradient(
    from var(--angle),
    transparent 70%,
    var(--home-description-gradient)
  );
  padding: 5px;
  animation: 4s spin linear infinite;
}

.home-description-text {
  width: 395px;
  height: 295px;
  border-radius: 40px;
  background: #222;
  color: white;
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  align-items: center;
  text-align: justify;
  justify-content: center;
  letter-spacing: 2px;
  line-height: 1.6;
  font-family: "Orbitron", sans-serif;
  font-size: 14px;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
